#__next {
     background: url(https://raw.githubusercontent.com/sandeeptete2020/reyphotos/main/public/bgg.jpg);
    background-repeat: repeat;
    /* background-size: contain; */
}
.flex.max-w-6xl.mx-auto.flex-col.items-center.justify-center.py-2.min-h-screen {
    background: #d9e5dc;
}
.mx-auto.px-4.sm\:px-6.lg\:px-8 {
    display: none;
}
h1{
        font-family: 'Anton', serif;
      }
a.bg-black.rounded-xl.text-white.font-medium.px-4.py-3.sm\:mt-10.mt-8.hover\:bg-black\/80 {
    background: #fff;
    color: #000;
    border: 1px solid #b0d2bd;
}
.uploader__widget-base__children {
    background: #D5D2C2;
}
